In [1]:
import pandas as pd
import numpy as np

Load the datasets

In [2]:
fraud_df = pd.read_csv('../data/raw/Fraud_Data.csv')
credit_df = pd.read_csv('../data/raw/creditcard.csv')
ip_df = pd.read_csv('../data/raw/IpAddress_to_Country.csv')

In [3]:
# Check shapes
print("Fraud Dataset:", fraud_df.shape)
print("Credit Card Dataset:", credit_df.shape)
print("IP Address Dataset:", ip_df.shape)

# First few rows
fraud_df.head()

Fraud Dataset: (151112, 11)
Credit Card Dataset: (284807, 31)
IP Address Dataset: (138846, 3)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

Check for missing values

In [4]:
fraud_df.isnull().sum()
credit_df.isnull().sum()
ip_df.isnull().sum()

lower_bound_ip_address    0
upper_bound_ip_address    0
country                   0
dtype: int64

Check duplicates

In [ ]:
print("Fraud duplicates:", fraud_df.duplicated().sum())
print("Credit card duplicates:", credit_df.duplicated().sum())
print("IP dataset duplicates:", ip_df.duplicated().sum())

Fraud duplicates: 0
Credit card duplicates: 1081
IP dataset duplicates: 0

In [6]:
# drop duplicates
credit_df.drop_duplicates(inplace=True)
print("New shape:", credit_df.shape)

New shape: (283726, 31)

In [7]:
print("Fraud duplicates:", fraud_df.duplicated().sum())
print("Credit card duplicates:", credit_df.duplicated().sum())
print("IP dataset duplicates:", ip_df.duplicated().sum())

Fraud duplicates: 0
Credit card duplicates: 0
IP dataset duplicates: 0

Fix Data Types

In [9]:
# For Fraud_Data.csv
fraud_df['signup_time'] = pd.to_datetime(fraud_df['signup_time'])
fraud_df['purchase_time'] = pd.to_datetime(fraud_df['purchase_time'])

# For IP Dataset
fraud_df['ip_address'] = fraud_df['ip_address'].astype(float).astype(int)
ip_df['lower_bound_ip_address'] = ip_df['lower_bound_ip_address'].astype(float).astype(int)
ip_df['upper_bound_ip_address'] = ip_df['upper_bound_ip_address'].astype(float).astype(int)

Save Cleaned Data

In [10]:
fraud_df.to_csv('../data/processed/fraud_cleaned.csv', index=False)
credit_df.to_csv('../data/processed/credit_cleaned.csv', index=False)
ip_df.to_csv('../data/processed/ip_cleaned.csv', index=False)